body{
    font-family: 'Comfortaa';
    /* font-family: Charter,Georgia,serif; */
    line-height: 1.5;
    letter-spacing: 0;
    background-color: #f1f2f4;
    /* background-color: rgba(var(--bg), 1); */
    color: #050526;
    font-size: 20px;
    /* font-size: 1.2em; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    word-wrap: break-word;
    overflow-x: hidden; */
}

#kaissandra-logo{
    color:navy;
    font-size: 2em;
    font-family: 'Comfortaa';
    font-weight: 600;
}

.title-page {
    text-align: center;
    width: 70%;
    background: rgb(250, 250, 250);
    /* box-shadow: 2px 2px 2px 2px grey; */
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-bottom: 2px; */
    /* padding-top: 15px; */
    box-shadow: 0 6px 12px 6px rgba(102,119,136,0.03), 0 6px 12px rgba(102,119,136,0.05);
    border-radius: 4px;
    margin-bottom: 2px;
    font-weight: 400;
}
.container-summary{
    float: left;
    width: 20%;
} 
.nav-bar {
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
    /* box-shadow: 2px 2px 2px 2px grey; */
    /* margin-right: 15%;*/
    /* margin-left: 15%; */
    padding-left: 15%;
    padding-bottom: 2px;
    /* padding-top: 15px; */

    box-shadow: 0 6px 12px 6px rgba(102,119,136,0.03), 0 6px 12px rgba(102,119,136,0.05);
    border-radius: 4px;
    margin-bottom: 48px;
}

.container-login {
    width: 500px;
    background: rgb(250, 250, 250);
    /* box-shadow: 2px 2px 2px 2px grey; */
    /* margin-right: 15%;
    margin-left: 15%; */
    margin: 0 auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    /* padding-top: 15px; */

    box-shadow: 0 6px 12px 6px rgba(102,119,136,0.03), 0 6px 12px rgba(102,119,136,0.05);
    border-radius: 4px;
    margin-bottom: 48px;
}

.container {
    width: 70%;
    background: rgb(250, 250, 250);
    /* box-shadow: 2px 2px 2px 2px grey; */
    /* margin-right: 15%;
    margin-left: 15%; */
    margin: 0 auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    /* padding-top: 15px; */

    box-shadow: 0 6px 12px 6px rgba(102,119,136,0.03), 0 6px 12px rgba(102,119,136,0.05);
    border-radius: 4px;
    margin-bottom: 48px;
}

h1 {

    color:navy;
    font-size: 2em;
    font-weight: 600;
    /* border-color: navy;
    border-width: 2px;
    border-style: solid; */
    /* width: 500px; */
    /* color:#F400DD; */
}

h2{
    color:navy;
    font-weight: 400;
    /* border-color: navy;
    border-width: 2px;
    border-style: solid; */
    /* width: 500px; */
    /* color:#F400DD; */
}

h3{
    color:navy;
    font-weight: 400;
    /* border-color: navy;
    border-width: 2px;
    border-style: solid; */
    /* width: 500px; */
    /* color:#F400DD; */
}

tbody {
    width: auto;
    font-weight: 400;
    line-height: 22px;
    color: black;
    font-size: 1.1em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

table thead tr th {
    width: auto;
    font-weight: 600;
    line-height: 17px;
    font-size: 1.1em;
    color: #8B8EA7;
    white-space: nowrap;
    vertical-align: left;
    text-align: left;
}

input, textarea, select, option, .form-control, .bootstrap-select.open .dropdown-toggle, .bootstrap-select .dropdown-toggle {
    height: 40px;
    background-color: #fff;
    border: 1px solid #e1e2e4;
    color: #4a4a4a;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
    padding: 6px 6px;
    width: 100%;
}

input[type="checkbox"] {
    border-radius: 25px;
    background-color: navy;
    height: 30px;
    width: 5%;
}

input[type="submit"] {
    border-radius: 25px;
    background-color: navy;
    font-weight: 400;
    color:#FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    width: 100%;
    margin: 10px 0 0;
    padding: 2px 2px;
    height: 48px;
    justify-content: center;
}

a:visited{
    color: grey;
}

a{
    color: navy;
}