{% extends "admin/master.html" %}

{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% endblock head %}

{% block head_css %}
{{super()}}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-extend.css')}}"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,600&display=swap" rel="stylesheet"> -->
{% endblock %}

{% block body%}
<ul class="nav nav-tabs">
    <li role="presentation" class="active" id="logsTab"><a href="">Logs</a></li>
    <li role="presentation" id="accountLink"><a href="{{ url_for('adm.account') }}">Account</a></li>
    <li role="presentation" id="configLink"><a href="">Configuration</a></li>
  </ul>
<!-- <h1> LOGS </h1> -->
<div id="logsContainer">
    {% for idx in indx_assets %}
        <!-- <p id="{{ASSETS[idx]}}">{{ASSETS[idx]}}</p> -->
        <p id="{{'netLog'+ASSETS[idx]|safe}}" style="font-size:1.0rem; border-style: hidden; margin:0 auto"> Waiting for connection...</p>
        <p id="{{'tradeLog'+ASSETS[idx]|safe}}" style="font-size:1.0rem; border-style: hidden; margin:0 auto">Waiting for connection...</p>
    {% endfor %}
</div>
    
<!-- <button> A button </button>  -->

<!-- <script type="text/javascript" src="{{url_for('static', filename='admin/js/home.js')}}"></script> -->
<script>
    // $("button").on("click", function(e){
    //     $("{{'#'+ASSETS['1']}}").text("Updated from JavaScript");
    //     // alert("Button clicked");
    // })
    // loop over asset paragraphs
    // for (var i=0; i<{{indx_assets|length}}; i++){
    //     console.log(i)
    // }
    $("#logsTab").on("click", function(e){
        $("{{'#'+ASSETS['1']}}").text("Updated from JavaScript");
        // alert("Button clicked");
    })

    var sourceNet = new EventSource("/api/logs/streamNetwork");
    var sourceTrader = new EventSource("/api/logs/streamTrader");
    
    sourceNet.onmessage = function (event) {
        var split = event.data.split("/");
        msg = split[0];
        asset = split[1];
        $("#netLog"+asset).text(msg);
        console.log(asset+msg);
    };

    sourceTrader.onmessage = function (event) {
        var split = event.data.split("/");
        msg = split[0];
        asset = split[1];
        $("#tradeLog"+asset).text(msg);
        console.log(asset+msg);
    };
    
</script>

{% endblock %}