{% extends "base.html" %}

{% block content %}
    <h1>Dashboard</h1>
    <div>
      <h2> Set Filter </h2>
      <form action="" method="post" novalidate>
        {{filterform.hidden_tag()}}
      <p>
        {{ filterform.dates.label }}
        {{ filterform.dates() }}
      </p>
      <p>
        {{ filterform.start_date.label }}
        {{ filterform.start_date() }}
        {{ filterform.end_date.label }}
        {{ filterform.end_date() }}
      </p>
      <p>{{ filterform.submit() }}</p>
    </div>
  </form>
    <div class="container">
    <h2> Positions </h2>
    <table border="1">
      <thead>
        <tr>
          <th> #Position </th><th> Open Time </th><th> Close Time </th><th> Asset </th><th> Size (lots) </th><th> GROI (%) </th><th> ROI (%) </th><th> Yield (€) </th>
        </tr>
      </thead>
        <tbody>
          {% for p in vector_pos %}
            <tr>
              <td> {{vector_pos|length-loop.index0}} </td><td> {{dti_positions[p]}}  </td><td>  {{dto_positions[p]}}  </td><td>  {{positions[p].asset}}  </td>
              <td>  {{ '%0.2f'| format(current_user.positionsplits[p].userlots) }}  </td>
              <td> {{'%0.2f'| format(groi_positions[p])}} </td><td> {{'%0.2f'| format(roi_positions[p])}} </td>
              <td> {{'%0.2f'| format(current_user.positionsplits[p].userlots*roi_positions[p]*1000)}} </td>
            </tr>
            {% endfor %}
            <tr>
              <td> Total </td><td>    </td><td>    </td><td>   </td>
              {% if vector_pos|length>0 %}
              <td>  NIY  </td>
              <td> {{'%0.2f'| format(groi_positions|sum)}} </td><td> {{'%0.2f'| format(roi_positions|sum)}} </td>
              <td> NIY </td>
              {% else %}
              <td>  0.0  </td>
              <td> 0.0 </td>
              <td> 0.0 </td>
              <td> 0.0 </td>
              {% endif %}
            </tr>
        </tbody>
            
    </table>
    <p>WARNING! The positions outcome might not exactly match the real peformance for now. We are currently working to solve it :).</p>
    </div>
{% endblock %}