{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div><p>Balance: {{current_user.budget}}</p></div>
    <div><p>Equity: {{current_user.budget}}</p></div>
    <div><p>Return of Investment: {{total_roi}}%</p></div>
    <table>
        <tr>
          <th> Open Time </th><th> Close Time </th><th> Asset </th><th> Lots </th><th> GROI </th><th> ROI </th><th> Return </th>
        </tr>
        {% for p in vector_pos %}
        <tr>
          <td> {{positions[p].dtiist}} </td><td> {{positions[p].dtosoll}} </td><td> {{positions[p].asset}} </td><td> {{ current_user.positionsplits[p].userlots }}  </td>
          <td> {{positions[p].groiist}} </td><td> {{positions[p].roiist}} </td><td> {{current_user.positionsplits[p].userlots*positions[p].roiist*1000}} </td>
        </tr>
        {% endfor %}    
    </table>
{% endblock %}