{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2> Account State </h2>
    <div><p>Balance: {{'%0.2f'| format(current_user.budget)}} €</p></div>
    <div><p>Equity: {{'%0.2f'| format(current_user.budget)}} €</p></div>
    <div><p>Deposits: {{'%0.2f'| format(current_user.deposit)}} €</p></div>
    <h2> Performance </h2>
    <h3> Total </h3>
    <table>
      <tr>
        <th> Yield </th><th> ROI </th>
      </tr>
      <tr>
        <td> {{'%0.2f'| format(current_user.budget-current_user.deposit)}} € </td><td> {{'%0.2f'| format(performance['total_roi'])}} %</td>
      </tr>
    </table>
    <h3> Today </h3>
    <table>
      <tr>
        <th> Yield </th><th> ROI </th>
      </tr>
      <tr>
        <td> {{'%0.2f'| format(performance['dayly_return'])}} € </td><td> {{'%0.2f'| format(performance['dayly_roi'])}} %</td>
      </tr>
    </table>
    <h3> This Week </h3>
    <table>
      <tr>
        <th> Yield </th><th> ROI </th>
      </tr>
      <tr>
        <td> {{'%0.2f'| format(performance['weekly_return'])}} € </td><td> {{'%0.2f'| format(performance['weekly_roi'])}} %</td>
      </tr>
    </table>
    <h3> This month </h3>
    <table>
      <tr>
        <th> Yield</th><th> ROI </th>
      </tr>
      <tr>
        <td> {{'%0.2f'| format(performance['monthly_return'])}} € </td><td> {{'%0.2f'| format(performance['monthly_roi'])}} %</td>
      </tr>
    </table>
    <h3> YTD </h3>
    <table>
      <tr>
        <th> Yield </th><th> ROI</th>
      </tr>
      <tr>
        <td> {{'%0.2f'| format(performance['yearly_return'])}} € </td><td> {{'%0.2f'| format(performance['yearly_roi'])}} %</td>
      </tr>
    </table>
    <h2> Positions </h2>
    <table>
        <tr>
          <th> #Position </th><th> Open Time </th><th> Close Time </th><th> Asset </th><th> Size (lots) </th><th> GROI (%) </th><th> ROI (%) </th><th> Yield (€) </th>
        </tr>
        {% for p in vector_pos %}
        <tr>
          <td> {{vector_pos|length-loop.index0}} </td><td> {{positions[p].dtiist}}  </td><td>  {{positions[p].dtosoll}}  </td><td>  {{positions[p].asset}}  </td>
          <td>  {{ '%0.2f'| format(current_user.positionsplits[p].userlots) }}  </td>
          <td> {{'%0.2f'| format(positions[p].groiist)}} </td><td> {{'%0.2f'| format(positions[p].roiist)}} </td>
          <td> {{'%0.2f'| format(current_user.positionsplits[p].userlots*positions[p].roiist*1000)}} </td>
        </tr>
        {% endfor %}    
    </table>
{% endblock %}